@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 255;
  }
}



.custom-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.custom-text em {
    color: blue;
    font-style: normal; 
}
/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E3F0FF; /* Optional background color */
}
.center-container {
    text-align: center;
}
.quote {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Change the text color as needed */
    line-height: 1.5; /* Adjust line spacing as needed */
}
.author {
    display: block;
    margin-top: 10px; /* Adjust the margin between the quote and author */
    font-style: italic;
    color: #777; /* Author text color */
}
/* Add a default color for the links and the h2 elements */
.default-color {
  color: #A6A6A6
}
